:root {
    --white: hsl(0, 0%, 100%);
    --gray: hsl(0, 0%, 95%);
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);
    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);
    --black: hsl(0, 0%, 7%);
    --text-size: clamp(1.1rem, 1rem + 0.8vw, 1.4rem);
    --medium-margin: clamp(1.2rem, 1rem + 0.8vw, 1.4rem);
    --small-padding: clamp(1rem, 0.8rem + 0.8vw, 1.3rem);
    --medium-padding: clamp(1.7rem, 1.5rem + 0.9vw, 2.1rem);
    --big-padding: clamp(2.1rem, 2rem + 0.9vw, 2.5rem);
    --small-header-size: clamp(1.5rem, 1.4rem + 0.9vw, 1.9rem);
    --medium-header-size: clamp(1.8rem, 1.7rem + 0.9vw, 2.2rem);
    --big-header-size: clamp(2.4rem, 2.3rem + 0.9vw, 2.8rem);
    --small-img-width: clamp(6rem, 4rem + 20vw, 12rem);
    --medium-img-width: clamp(10rem, 8rem + 20vw, 15rem);
    --big-img-width: clamp(17rem, 15rem + 30vw, 40rem);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /*font-family: "Montserrat", sans-serif;*/
    font-size: var(--text-size);
    background-color: var(--gray);
    text-align: center;
    color: var(--white);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    grid-row-gap: 2rem;
    font-size: var(--text-size);
    margin: 0 auto;
    width: clamp(16rem, 14rem + 30vw, 25rem);
    text-align: center;
}

img {
    width: var(--big-img-width);
    max-inline-size: 100%;
    block-size: auto;
}

h2 {
    font-size: var(--small-header-size);
    line-height: 90%;
    margin-bottom: var(--medium-margin);
}

.illustratrion {
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    border-radius: 1rem;
}

.five-stars-container {
    padding: clamp(2.3rem, 2rem + 0.8vw, 2.8rem);
    background-color: var(--purple-500);
}

.five-stars-container h1 {
    font-size: var(--big-header-size);
    line-height: 90%;
    margin-bottom: var(--medium-margin);
}

.five-stars-container img {
    width: var(--small-img-width);
}

.consistent-schedule-container {
    background-color: var(--yellow-500);
    color: var(--black);
    text-align: left;
    padding-bottom: 0;
    overflow: hidden;
}

.consistent-schedule-container img {
    width: var(--medium-img-width);
    margin-bottom: -0.4rem;
}

.schedule-posts-container {
    background-color: var(--purple-100);
    color: var(--black);
    padding: var(--medium-padding) var(--small-padding);
}

.grow-followers-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: var(--black);
    background-color: var(--yellow-500);
    padding: var(--big-padding);
}

.grow-followers-container h2 {
    width: 90%;
    font-size: var(--medium-header-size);
    margin-bottom: 0;
    margin-top: var(--medium-margin);
}

.grow-followers-container img {
    width: var(--medium-img-width);
}

.multiple-platforms-container {
    background-color: var(--purple-500);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align:left;
}

.multiple-platforms-container h2 {
    margin-bottom: 0;
    margin-top: var(--medium-margin);
}

.audience-growth-container {
    background-color: var(--white);
    color: var(--black);
    text-align: left;
    padding: var(--small-padding);
}

.audience-growth-container > h2 {
   font-size: clamp(3rem, 2.9rem + 0.9vw, 3.5rem);
   padding: 0;
   margin: 0;
}

.audience-growth-container > h2 > .sub-header{
   display: block;
   font-size: var(--text-size);
   padding: 0;
   margin: 0;
}

.audience-growth-container img {
    width: var(--small-img-width);
}

.create-post-container {
    color: var(--black);
    background-color: var(--yellow-100);
    text-align: left;
    padding: var(--medium-padding);
}

.create-post-container h2 {
    font-size: var(--medium-header-size);
}

.create-post-container img {
    width: var(--medium-img-width);
}

.ai-content-container {
    background-color: var(--yellow-500);
    color: var(--black);
    text-align: left;
    padding: var(--medium-padding);
}

.ai-content-container h2 {
    font-size: var(--medium-header-size);
}

.ai-content-container img {
    width: var(--medium-img-width);
}
